@media (max-width: 448px) {
  .saju__container {
    margin: -5.3vw auto 0;
    padding-bottom: 8.8vw;
  }
  .saju__table--border .border__top {
    top: 1.3vw;
  }
  .saju__table--border .border__left {
    left: 1.3vw;
  }
  .saju__table--border .border__right {
    right: 1.3vw;
  }
  .saju__table--border .border__bottom {
    bottom: 1.3vw;
  }
  .saju__table--title {
    margin: 10.6vw 0 6.9vw 0;
  }
  .saju__table--title::before {
    top: 1.333vw;
    left: 1.6vw;
    width: 14.9vw;
    height: 10.1vw;
  }
  .saju__table--title::after {
    top: -4.5vw;
    right: 1.333vw;
    width: 14.9vw;
    height: 10.1vw;
  }
  .saju__table--title h4 {
    margin-bottom: 3.2vw;
    font-size: 4.2vw;
  }
  .saju__table--title h3 {
    font-size: 5.3vw;
  }
  .saju__table--content {
    margin: 0 4.8vw 0;
  }
  .saju__table--header li {
    height: 12vw;
    font-size: 3.7vw;
  }
  .saju__table--list {
    font-size: 3.7vw;
  }
  .saju__table__list--title {
    min-height: 11.7vw;
    line-height: 3.7vw;
  }
  .saju__table__list--title p.lg {
    font-size: 2.6vw;
  }
  .saju__table__list--title p.sm {
    font-size: 2.1vw;
  }
  .saju__table--item li {
    min-height: 11.7vw;
  }
  .saju__table__item--title {
    padding: 1.3vw;
    line-height: 3.7vw;
  }
  .saju__table__item--title p.lg {
    font-size: 3.7vw;
  }
  .saju__table__item--title p.sm {
    margin-bottom: 1.3vw;
    font-size: 2.6vw;
  }
  .saju__table__item--title .color__box {
    padding: 1.3vw;
    border-radius: 3.4vw;
  }
  .saju__table__item--title .color__box p.lg {
    font-size: 5.8vw;
  }
  .saju__table__item--title .color__box p.sm {
    font-size: 1.8vw;
  }
  .saju__table__item--title .color__box p.md {
    font-size: 2.1vw;
  }
}
